@model Message

@{
	Layout = "_ShopLayout";
}
<section
        id="about-header"
        class="h">
        <h2>#Let`s_Talk</h2>
        <p>Leave a message,We love to hear from you.</p>
      </section>
      <section id="contact-det">
        <div class="details">
          <span>GET IN TOUCH</span>
          <h2>visit one of our agency locations or contact us</h2>
          <h3>Head Office</h3>
          <ul>
            <li
              ><i class="fa-regular fa-map"></i> 56 Glassfors street Glassrow G1
              1ul New York</li
            >
            <li><i class="far fa-envelope"></i> contact@example.com</li>
            <li><i class="fas fa-phone-alt"></i> contact@example.com</li>
            <li
              ><i class="far fa-clock"></i> Monday to Saturday : 9.00am to
              16.pm</li
            >
          </ul>
        </div>
        <div class="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2416.640659639553!2d-4.245977974467893!3d55.85866871492525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x488846a139548957%3A0x364642c355db366a!2sCity%20Halls%20%26%20Old%20Fruitmarket!5e0!3m2!1sar!2seg!4v1713525299703!5m2!1sar!2seg"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </section>
      <section id="form-ma">
        <form method="post" asp-action="SendMessage">
          <span>Leave Massage</span>
          <h2>We Love To hear from you</h2>
          <input
            type="text"
            placeholder="name"
            asp-for="@Model.Name"/>
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
          <input
            type="email"
            placeholder="Your Email"
            asp-for="@Model.Email"/>
        <span asp-validation-for="@Model.Email" class="text-danger"></span>

          <input
            type="text"
            placeholder="Subject" 
            asp-for="@Model.Subject"/>
        <span asp-validation-for="@Model.Subject" class="text-danger"></span>

          <textarea
            
            cols="30"
            rows="10"
            placeholder="Your massage"asp-for="@Model.Content"></textarea>
        <span asp-validation-for="@Model.Content" class="text-danger"></span>

          <input
            type="submit"
            value="send" />
        </form>
        <div class="people">
          <div class="person">
            <img
              src="~/img/people/1.png"
              alt="" />
            <div class="text">
              <h4>Mohamed khalid</h4>
              <span>Senior web</span>
              <span>phone: 0120487565</span>
              <span>Email: Contact@Example.com</span>
            </div>
          </div>
          <div class="person">
            <img
              src="~/img/people/2.png"
              alt="" />
            <div class="text">
              <h4>Ahmed khalid</h4>
              <span>Senior web</span>
              <span>phone: 0120487565</span>
              <span>Email: Contact@Example.com</span>
            </div>
          </div>
          <div class="person">
            <img
              src="~/img/people/3.png"
              alt="" />
            <div class="text">
              <h4>waled khalid</h4>
              <span>Senior web</span>
              <span>phone: 0120487565</span>
              <span>Email: Contact@Example.com</span>
            </div>
          </div>
        </div>
      </section>